<!--The content below is only a placeholder and can be replaced.-->
<form #feedbackFrom="ngForm" (submit)="onSubmit(feedbackFrom.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input ngModel name="username" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="Feedback">Feedback</label>
    <input ngModel name="feedback" type="text" class="form-control" id="Feedback" placeholder="Feedback">
  </div>
  <button  type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<hr>
<div>
  <p>all data</p>
  <ul>
    <li *ngFor="let item of mData">{{item.isbn}}</li>
  </ul>
</div>

<router-outlet></router-outlet>
