<!--The content below is only a placeholder and can be replaced.-->
<form #feedbackFrom="ngForm" (submit)="onSubmit(feedbackFrom.value)">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input ngModel name="isbn" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="title">Feedback</label>
    <input ngModel name="title" type="text" class="form-control" id="title" placeholder="title">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input ngModel name="price" type="text" class="form-control" id="price" placeholder="price">
  </div>
  <button  type="submit" class="btn btn-primary">Submit</button>
</form>
<br>
<hr>
<div>
  <p>all data</p>
  <table class="table">
    <thead>
      <th>isbn</th>
      <th>title</th>
      <th>price</th>
      <th>edit</th>
      <th>del</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of mData">
        <td>{{item.isbn}}</td>
        <td>{{item.title}}</td>
        <td>{{item.price}}</td>
        <td><button>edit</button></td>
        <td><button>del</button></td>
      </tr>
    </tbody>
  </table>
</div>

<router-outlet></router-outlet>
